version: "3.9"

services:
  flask-app:
    build: .
    container_name: flask-app
    ports:
      - "8080:5000"   # host:container
    volumes:
      - .:/app        # optional, useful in development
    restart: always
